body 
	{
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
	  
	[class*="span"] 
	{
		 background-color: ligthgrey;
		 border-radius: 5px 5px 5px 5px;
		 text-align: center;
	}
	
.row
{
    text-align:left;
}