<div id="PlayerMenu">
            <div><a href="@Url.Action("Index", "PlayerRoom", new { Area = "" })" >My Room</a></div>           
            <div><a href="@Url.Action("Index", "PlayerRoom", new { Area = "" })" >My Room</a></div>  
 </div>   