@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mon espace MikMak</h2>

  <div class="row">
	      <div class="span2 offset 3">Mes Battles</div>
          <div class="span5">
              <div class="row">
                <div class="span4">lien pour jouer</div><div class="span1">Lien pour supprimer la partie</div>
              </div>
              <div class="row">
                <div class="span4">lien pour jouer</div><div class="span1">Lien pour supprimer la partie</div>
              </div>
          </div>
          <div class="span2">xxx</div>
</div>





<a style="text-decoration:none" href="/MikMakHTML5/Client_html5_MikMak.html"><input type="button" value="Play!" /></a>