@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenue @this.PageContext.Page.User.Identity.Name</h2>
<a style="text-decoration:none" href="/MikMakHTML5/Client_html5_MikMak.html"><input type="button" value="Play!" /></a>