<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>MikMak.azure.com</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
	          <div class="span12">developpé par Oliv et Tom, de la Oliv et Tom Company</div>
            </div>
        </div>
    </body>
</html>
