@{
    ViewBag.Title = "Page d'accueil";
}

<div class="row">
    <div class="span5 offset3">
    <h2>Bienvenue sur MikMaK,</h2><br /> un lieu d'aventure et de frisson avec des experiences hors du commun tel que le tic-tac-toe et 
    bien d'autres choses encore...
    </div>
    <div class="span4"></div>
</div>


