@{
    ViewBag.Title = "Page d'accueil";
}

<h3>Page d'accueil</h3>
<ol class="round">
    <li class="one">
        <h5>Prise en main</h5>
       Et voila comment prendre l'heure d'un server depuis un bouton et un petit appel AJAX !!!
    </li>    
    <li>
        Tout le code "utile" se trouve dans Areas/Game/Controllers !
    </li>
</ol>

<input type="button" id="BTdate" value="get Date" /><span id="dateSpan"></span>  

<input type="button" id="BTcomplexData" value="get Complex Data" /><span id="complexData"></span>  